    /* Fonts, pretty self explanatory*/
    @font-face { font-family: 'crimpro'; src: url('../font/CrimsonPro-Light.ttf'); }

    /* Custom scroll bar*/
     ::-webkit-scrollbar { width: 10px; }
     ::-webkit-scrollbar-track { background: black; }
     ::-webkit-scrollbar-thumb { background: #318569; }
     ::-webkit-scrollbar-thumb:hover { background: #555; }

    html,
    body 
    {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background-color: #393E46;
        /*cursor: url("../images/mouse.png"), default;*/
    }

    /* The main image on index*/
    .main-img 
    {
        background-image: url("../images/home/mainphoto.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 30px black;
        transition: 0.5s;
    }

    /* Text property on the main image */
    .main-img-text 
    {
        color: white;
        text-align: center;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
    }

    /* Text property on the main image (h1) */
    .main-img-text h1 
    {
        font-size: 40px;
        font-weight: 900;
        font-family: 'crimpro';
    }

    /* Text property on the main image (p) */
    .main-img-text p 
    {
        font-size: 30px;
        font-weight: 500;
        line-height: 10px;
        font-family: 'crimpro';
    }

    /* Container for home */
    .frv-container-home 
    {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /* Box area for content etc*/
    .frv-box-home-1 
    {
        width: 25em;
        margin: 10px;
        background-color: #2f3338;
        text-align: left;
    }

    /* Contents of the box text etc */
    .frv-item-home-1 
    {
        min-height: 460px;
        min-width: 400px;
        border-radius: 2%;
        box-shadow: 0px 0px 10px;
    }

    /* Contents of picture  */
    .frv-item-home-2 
    {
        min-height: 460px;
        min-width: 400px;
        border-radius: 2%;
        box-shadow: 0px 0px 10px;
    }

    /* Box area for picture*/
    .frv-box-home-2 
    {
        width: 25em;
        margin: 10px;
        height: 31em;
        background-color: #2f3338;
        text-align: left;
        overflow: hidden;
    }

   /* Contents of picture  */
    .frv-item-home-3 
    {
        min-height: 460px;
        min-width: 400px;
        border-radius: 2%;
        box-shadow: 0px 0px 10px;
    }
    
    /* Box area for home*/
    .frv-box-home-3 
    {
        width: 25em;
        margin: 10px;
        height: 29em;
        background-color: #2f3338;
        text-align: left;
        overflow: hidden;
    }

    /* Box area for content etc*/
    .frv-box-home-4 
    {
        width: 51em;
        margin: 10px;
        background-color: #2f3338;
        text-align: left;
    }
    /* Contents of the box text etc */
    .frv-item-home-4 
    {
        min-height: 460px;
        min-width: 400px;
        border-radius: 2%;
        box-shadow: 0px 0px 10px;
    }


    /* The main text etc pretty self explanatory */
    .paragraph 
    {
        font-family: crimpro;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 40px;
        font-weight: 100;
        font-size: 24px;
        color: white;
        text-shadow: 1px 2px 8px rgb(0, 0, 0);
    }

    /* The main text etc pretty self explanatory */
    .h1-home 
    {
        font-family: crimpro;
        text-align: center;
        padding-top: 1em;
        font-size: 3em;
        color: #5ff0bf;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
    }
    
    .ahmet-view { margin-top: 22em; }
    
    .bogaz { width: 500px; }
    
    .kizkulesi { width: 900px; margin-left: -390px;}

    .tramvay { width: 800px; margin-left: -340px; }
    
    .bazaar { width: 900px; margin-left: -230px;}

    .h1-kizkulesi
    {
        font-family: crimpro;
        text-align: center; 
        font-size: 3em;
        margin: 0.2em;
        color: white;
        text-shadow: 1px 2px 8px rgb(0, 0, 0);
    }

    #btnScrollUp
    {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #43aa88;
        box-shadow: 0 0 10px rgb(0,0,0,0.25);
        color: white;
        outline: none;
        cursor: pointer;
    }

    /* Media Queries for responsiveness etc */
    /*@media screen and (max-width: 1024px) and (min-width: 768px) {}*/

    @media screen and (max-width: 1920px) and (min-width: 1620px) 
    {
       
        .frv-container-home  { display: flex;}

        .frv-box-home-1 { width: 30em; height: 28em;}
        .frv-box-home-2 { width: 30em; height: 28em;}
        .frv-box-home-3  { width: 30em; height: 28em;}
        .kizkulesi { width: 1000px;}
        .bogaz { width: 550px; }
        .tramvay { width: 900px;}
    }

    @media screen and (max-width: 1620px) and (min-width: 992px) 
    {
       
        .frv-container-home  { display: flex;}
        .paragraph{ padding-top: 40px;}
        .frv-box-home-1 { width: 30em; height: 36em;}
        .frv-box-home-2 { width: 30em; height: 36em;}
        .frv-box-home-3  { width: 30em; height: 36em;}
        .kizkulesi { width: 1000px;}
        .bogaz { width: 550px; }
        .tramvay { width: 900px;}
        .h1-kizkulesi{ padding-top: 20px; }
    }

    @media screen and (max-width: 992px) and (min-width: 768px) 
    {
       
        .frv-container-home  { display: grid;}

        .frv-box-home-1 { width: 30em;}
        .frv-box-home-2 { width: 30em; }
        .frv-box-home-3  { width: 30em;}
        .frv-box-home-4 
        {
            width: 40em;
            margin: 10px;
            height: 43em;
        }

        .h1-home 
        {
            padding-top: 0em;
            font-size: 3em;
            margin: 1em;
        }

        .main-img-text h1 { margin: 2em; font-size: 46px; }
        .bogaz { width: 550px; }
        .kizkulesi { width: 1000px;}
    }

    @media screen and (max-width: 768px) and (min-width: 576px) 
    {
       
        .frv-container-home  { display: grid;}

        .frv-box-home-1 { width: 20em;}
        .frv-box-home-2 { width: 20em; }
        .frv-box-home-3  { width: 20em;}
        .frv-box-home-4 
        {
            width: 2em;
            margin: 10px;
            height: 43em;
        }

        .h1-home 
        {
            padding-top: 0em;
            font-size: 3em;
            margin: 1em;
        }

        .main-img-text h1 { margin: 2em; font-size: 46px; }
        .bogaz { width: 550px; }
        .kizkulesi { width: 800px;}
    }

    @media screen and (max-width: 576px) and (min-width: 310px) 
    {
       
        .frv-container-home  { display: grid;}

        .frv-box-home-1 { width: 20em;}
        .frv-box-home-2 { width: 20em; }
        .frv-box-home-3  { width: 20em;}
        .frv-box-home-4 
        {
            width: 2em;
            margin: 10px;
            height: 75em;
        }

        .h1-home 
        {
            padding-top: 0em;
            font-size: 3em;
            margin: 1em;
        }

        .main-img-text h1 { margin: 1em; font-size: 46px; }
        .bogaz { width: 550px; }
        .kizkulesi { width: 800px;}
        .h1-home { margin: 0.5em;}
    }